.footer__column-link {
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
}
.footer__column-link:hover{
    opacity: 0.6;
    transition-duration: 0.4s;
}
