.feynman__link {
    position: absolute;
    right:  0px;
    top: 50%;
    margin: 0 48px 0 0;
    font-size: 36px;
    font-weight: normal;
    line-height: 51px;
    color: #2f80ed;
    text-decoration: none;
}
.feynman__link:hover{
    opacity: 0.6;
    transition-duration: 0.4s;
}